*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

.head-bar{
    background-color: #51A06C;;
    /* padding: 30px;
    color: white;
    left: 0;
    right: 0; */
    padding: 30px;
    color: white;
    left: 0;
    right: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.head-bar h1 {
    width: 136px;
    height: 27px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
}

.head-bar h2{
    margin-top: -5px;
    width: 79px;
    height: 17px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon{
    display: flex;
    justify-content: end;
    margin-top: -25px;
}

.icon img{
    margin-left: 20px;
}


.menubar{
    display: flex;
    justify-content :space-between;
    margin: 20px
}


.menubar p{
    padding: 2px;
    width: 135px;
    height: 31px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.picture {
    display: flex;
    justify-content:center ;
}

.picture{
    margin:10px;
}

.group{
    display: flex;
    justify-content: center;
}

.group img{
    width: 20px;
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    margin-top: 2px;
}
.dark-mode{
    margin-top: -15px;
}


label {
    width:50px;
    height:20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }


label:after {
    content: "";
    width:10px;
    height: 10px;
    position: absolute;
    top:5px;
    left:5px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
input {
    width: 0;
    height: 0;
    visibility: hidden;
} 


input:checked + label + .background{
    background: #242424;
  }
input:checked + label:after {
    left:25px;
    transform: translateX(100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
label, label:after {
    transition: 0.3s
}
label:active:after{ 
    width: 10px; 
}
body {
    width:100vw;
    height: 100vh;
    background: #ffffff;
    z-index: -1;
    position: absolute;
    transition: 0.3s;

}

input:checked + label + body{
    background:rgb(0, 0, 0);
}


.dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    background-color: #494848;
}
.dot1 {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
  }

.circle{
    display: flex;
    justify-content: center;
}

.event p{
    padding: 2px;
    margin: 20px
}
.event p {
    width: 221px;
    height: 36px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.event-image{
    display: flex;
    justify-content: center;
    /* margin-left:90px;  */
}
.event-image img{
    margin-right: 15px;
    border-radius: 24px;
}

.feature{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
}

.feature div img{
    background: #51A06C;
    border-radius: 50%;
    padding: 15px;
}
.feature div p{
    text-align: center;
}

/* 
footer{
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}
.iconfoot{
    display: flex;
    justify-content: space-evenly;
    background: green;
    margin-bottom: 0;

    position: relative;
}

.iconfoot img{
    width: 30px;
    padding: 20px;
} */

body{
    height: 770px;
}
/* .dark-mode {
    background-color: rgba(0, 0, 0, 0.815);
    color: white;
}
 */

.menu{
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    background-color: #51a06c;
    border-radius: 40px;
    transform: translateY(30%);
}
.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul li {
    display: inline-block;
}
.menu ul li:nth-child(3) {
    transform: translateY(-30%);
}