*{
    margin: 0;
    padding: 0;
}

/* body{
    height: 100vh;
} */

.head-bar {
    display: flex;
    margin: 35px;
}

.event{
    display:flex ;
    justify-content: center;
    margin-top: -30px;
    
}

.ku-event{
    margin-right: 30px;
    margin-top: 20px;
    
}

.ku-board{
    margin-left: 30px;
    margin-top: 8px;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 30px;
}

.img-ku{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}


.bottom_bar {
    background: #51A06C;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    height: 70px;
    flex-wrap: nowrap;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.botton {
    margin-left: 3%;
}

.botton img {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -30px;
}

.fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
